@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;500&family=Syne+Mono&display=swap");

.b-4 {
  border-width: 4px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-shadow {
  text-shadow: rgb(255, 220, 80) 1px 0 10px;
}

.presentation-grid {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  gap: 10px;
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 7px;
  height: 20px;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: white;
  margin: 20px;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 20px;
}

@media screen and (max-width: 658px) {
  .presentation-grid {
    display: flex;
    flex-direction: column;
  }
}
