@tailwind base;
@tailwind components;
@tailwind utilities;

.b-4 {
  border-width: 4px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.presentation-grid {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  gap: 10px;
}

@media screen and (max-width: 658px) {
  .presentation-grid {
    display: flex;
    flex-direction: column;
  }
}
